<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKhb_jT1EYvbo1fo_KiorCKil_ukmSx9I</string>
	<key>GCM_SENDER_ID</key>
	<string>279881515402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatapp.chatwx</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f4307</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f4307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279881515402:ios:71b2d7cb2d6b1e2dab8873</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-f4307-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>